@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
  */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
}

body {

  background: linear-gradient(45deg, grey 0%, lightgray 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.slots {
  width: 276.5px;
  height: 237px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;


  .reel {
    border: 1px solid black;
    width: 79px;
    height: 237px;
    background-image: url("/slotreel.webp");
    background-repeat: repeat-y;
    background-position: 0 0;
  }
}